# Ignore all markdown files
*.md

# Ignore all text files
*.txt

# Ignore all document files
*.docx

# Ignore all image files
*.png
*.jpg
*.jpeg
*.gif

# Ignore all video files
*.mp4
*.avi
*.mov
*.mkv

# Ignore all audio files
*.mp3
*.wav

# Ignore node modules folder
node_modules/

# Ignore build folder
build/

# Ignore logs folder
logs/

# ignore ENV variables file
.env

